{% extends 'base.html' %}
{% block content %}  
          
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s" >Create Client</h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>

        <!------ Include the above in your HEAD tag ---------->

        <div id="login">
            <div class="container4">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="" method="post">
                                {% csrf_token %}
                
                                
                                {{ form.as_p }}
 
                                <div class="form-group">
                                    <br>
                               
                                    <input type="submit" name="submit" id="submit" class="btn btn-info btn-md" value="create">
                                </div>
                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
   
